#buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonsGrid {
    width: 1140px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 64px;
}

@media screen and (max-width: 500px) {
    #buttonsGrid {
        grid-template-columns: 1fr 1fr;
        width: 430px;
        
    }
}