#heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;

    background-image: url("../../../assets/Home/familyPhoto.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 852px;
}

#heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/2;
    padding: 32px;
}

#heroContent > h2 {
    color: #E73336;
    font-size: 64px;
    text-shadow: 0 4px 4px #00000050;
}

#heroContent > h3 {
    color: #000000;
    font-size: 50px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    padding-top: 32px;
}

#buttons > SecondaryButton {
    margin-right: 24px;
}