.headContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.topContainer {
    background-color: red;
    color: purple;
    height: 100px;
    width: 100%;
}

.bottomContainer {
    background-color: blue;
    color: green;
    height: 100px;
    width: 100%;
}