#primaryButton {
    /* BUTTON STYLING */
    background-color: #E73336;
    padding: 25px, 28px, 25px, 28px;
    border-radius: 32px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* TEXT STYLING */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

@media screen {
    
}