#secondaryButton {
    /* BUTTON STYLING */
    background-color: #FFFFFF;
    padding: 25px, 28px, 25px, 28px;
    border-radius: 32px;
    border: 3px solid #000000;
    /* width: 300px;
    height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;

    /* TEXT STYLING */
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

#secondaryButton:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}