* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filterButtons {
  display: flex;
  /* width: 950px; */
  width: 60%;
  justify-content: space-evenly;
  margin-top: 5px;
}

.searchAndFilterAndFilterTextsOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}

.PropertyListingContainer {
  display: flex;
  flex-direction: column;
}

.mainSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
