.filterParametersContainer {

    .rentPerWeekContainer {
        display: flex;
        flex-direction: column;

        .priceRangeOptionsContainer {
            display: flex;
            flex-direction: row;
        }
    }
}