.filterParametersContainer {

    width: 100%;
    display: flex;
    justify-content: center;

    .rentPerWeekContainer {
        display: flex;
        flex-direction: column;

        .priceRangeOptionsContainer {
            display: flex;
            flex-direction: row;
        }
    }

    .numberOfBedroomsContainer {
        
    }
}