* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chosenPropertyListingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .propertyImagesContainer {
    padding: 0 20px 0 20px;
    margin: 20px 0 0 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    column-gap: 12px;

    .mainImage {
      grid-row: span 2;
      grid-column: span 2;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .additionalImage {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .propertyIcons {
    width: 100%;
  }

  .propertyDetailsContainer {
    padding: 0 20px 0 20px;
    width: 100%;
    display: flex;

    .propertyDetails {
      width: 50%;

      .propertyIcons {
        display: flex;
        justify-content: space-between;

        .bedBathShowCarPetsIcons {
          margin: 0 6px 0 6px;
        }

        .likeAndShareIcon {
          margin: 0 0 0 6px;
        }
      }
    }

    .agentContactDetailsContainer {
      width: 50%;
      height: 100%;
      margin: 20px 0 0 0;

      .agentContactDetails {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50%;
        background-color: #f5f5f5;
        border-radius: 25px;

        .agentImageContainer {
          display: flex;
          width: 20%;
          height: auto;
          padding: 10px;
          .agentPhoto {
            width: 100%;
            height: auto;
            border-radius: 25px;
          }
        }

        .agentNameRoleBookViewingMakeEnquiryContainer {
          height: 100%;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          color: black;

          .agentNameAndRole {
            padding: 0 0 18px 24px;
            display: flex;
            flex-direction: column;

            p {
              padding: 18px 0 0 0;
            }
          }

          .bookViewingEnquireButtons {
            padding: 10px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .popupContainer {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              .popupAgentImageAndInfoContainer {
                display: flex;
                align-items: center;
                width: 100%;
                height: 30%;
                border-radius: 25px;

                .popupAgentImageContainer {
                  display: flex;
                  width: 25%;
                  height: 100%;
                  margin: 0 40px 0 0;

                  .popupAgentPhoto {
                    width: auto;
                    height: 100%;
                    border-radius: 25px;
                  }
                }

                .popupAgentinfoContainer {
                  width: 75%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;

                  .popupCallAgentButton {
                    background-color: #ffffff;
                    padding: 25px, 28px, 25px, 28px;
                    border-radius: 32px;
                    border: 2px solid #000000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38%;
                    height: 30%;
                    cursor: pointer;
                    /* TEXT STYLING */
                    color: #000000;
                    font-size: 15px;
                    font-weight: 500;
                  }
                }
              }

              .popupContactAgentFormContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 70%;
                .popupContactAgentFormField {
                  width: 100%;
                  height: 20%;
                  margin-top: 10px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;

                  input {
                    width: 100%;
                    height: 70%;
                    border: 2px solid black;
                    border-radius: 20px;
                    margin: 8px 0 0 0;
                    padding: 0 0 0 10px;
                    position: relative;
                    outline: none;

                    &::before,
                    &::after {
                      content: "";
                      position: absolute;
                      top: 0;
                      height: 100%;
                      width: 20px; /* Width of the rounded ends */
                      background-color: white; /* Set background color to match the container */
                      border-radius: 50%;
                    }

                    &::before {
                      left: -20px;
                    }

                    &::after {
                      right: -20px;
                    }

                    &.messageBox {
                      height: 80%;
                    }
                  }
                }
                .popupTermsAndConditionsCheckBox {
                  position: relative;
                  display: flex;
                  top: 10px;
                  font-weight: bold;

                  input {
                    margin: 0 10px 0 0;
                    appearance: none; // Remove default styles
                    border-radius: 50%; // Make the checkbox a round circle
                    width: 20px; // Set the width of the checkbox
                    height: 20px; // Set the height of the checkbox
                    outline: none; // Remove default focus outline
                    cursor: pointer;
                    position: relative;

                    &:checked {
                      &::before {
                        background-color: red; // Apply red background when checked
                        border: 2px solid red; // Border color when checked
                      }
                    }

                    &::before {
                      content: ""; // Create a pseudo-element to style the checkbox
                      display: block;
                      width: 100%;
                      height: 100%;
                      background-color: white; // Set the background color to match the container
                      border-radius: 50%; // Set border-radius for the circle
                      box-sizing: border-box; // Include border and padding in the box model
                      border: 2px solid black; // Add border for the circle
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
