* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chosenPropertyListingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .propertyImagesContainer {
    padding: 0 20px 0 20px;
    margin: 20px 0 0 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    column-gap: 12px;

    .mainImage {
      grid-row: span 2;
      grid-column: span 2;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .additionalImage {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .propertyIcons {
    width: 100%;
  }

  .propertyDetailsContainer {
    padding: 0 20px 0 20px;
    width: 100%;
    display: flex;

    .propertyDetails {
      width: 50%;

      .propertyIcons {
        display: flex;
        justify-content: space-between;

        .bedBathShowCarPetsIcons {
          margin: 0 6px 0 6px;
        }

        .likeAndShareIcon {
          margin: 0 0 0 6px;
        }
      }
    }

    .agentContactDetailsContainer {
      width: 50%;
      height: 100%;
      margin: 20px 0 0 0;

      .agentContactDetails {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50%;
        background-color: #f5f5f5;
        border-radius: 25px;

        .agentImageContainer {
          display: flex;
          width: 20%;
          height: auto;
          padding: 10px;
          .agentPhoto {
            width: 100%;
            height: auto;
            border-radius: 25px;
          }
        }

        .agentNameRoleBookViewingMakeEnquiryContainer {
          height: 100%;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          color: black;

          .agentNameAndRole {
            padding: 0 0 18px 24px;
            display: flex;
            flex-direction: column;

            p {
              padding: 18px 0 0 0;
            }
          }

          .bookViewingEnquireButtons {
            padding: 10px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .popupContainer {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              .popupAgentImageAndInfoContainer {
                display: flex;
                align-items: center;
                width: 100%;
                height: 30%;
                // background-color: #f5f5f5;
                // border: 1px solid black;
                border-radius: 25px;

                .popupAgentImageContainer {
                  display: flex;
                  width: 25%;
                  height: auto;
                  // padding: 10px;

                  .popAgentPhoto {
                    width: 100%;
                    height: auto;
                    border-radius: 25px;
                  }
                }

                .popupAgentinfoContainer {
                  width: 65%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  padding: 0 0 0 20px;

                  .popupCallAgentButton {
                    background-color: #ffffff;
                    padding: 25px, 28px, 25px, 28px;
                    border-radius: 32px;
                    border: 2px solid #000000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38%;
                    height: 30%;
                    cursor: pointer;
                    /* TEXT STYLING */
                    color: #000000;
                    font-size: 12px;
                    font-weight: 700;
                  }
                }
              }

              .popupContactAgentFormField {
                width: 100%;
                margin-top: 10px;
              
                input {
                  width: 100%;
                  height: 40px;
                  border: 2px solid black;
                  border-radius: 20px; /* Half of the input height for rounded ends */
                  margin: 8px 0 0 0; /* Adjust padding as needed */
                  padding: 0 0 0 10px;
              
                  position: relative;
              
                  &::before,
                  &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 20px; /* Width of the rounded ends */
                    background-color: white; /* Set background color to match the container */
                    border-radius: 50%;
                  }
              
                  &::before {
                    left: -20px;
                  }
              
                  &::after {
                    right: -20px;
                  }
                }
              }
              
            }

          }
        }
      }
    }
  }
}
