* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chosenPropertyListingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .propertyImagesContainer {
    padding: 0 20px 0 20px;
    margin: 20px 0 0 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    column-gap: 12px;

    .mainImage {
      grid-row: span 2;
      grid-column: span 2;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .additionalImage {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .propertyIcons {
    width: 100%;
    // border: 2px solid red;
  }

  .propertyDetailsContainer {
    padding: 0 20px 0 20px;
    width: 100%;
    display: flex;

    .propertyDetails {
      width: 50%;
      // border: 2px solid green;

      .propertyIcons {
        display: flex;
        justify-content: space-between;

        .bedBathShowCarPetsIcons {
          margin: 0 6px 0 6px;
        }

        .likeAndShareIcon {
          margin: 0 0 0 6px;
        }
      }

    //   .showMoreButton {
        // /* BUTTON STYLING */
        // background-color: #ffffff;
        // padding: 25px, 28px, 25px, 28px;
        // margin: 20px 0 20px 0;
        // border-radius: 32px;
        // border: 3px solid #000000;
        // width: 150px;
        // height: 50px;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        // /* TEXT STYLING */
        // color: #000000;
        // font-size: 16px;
        // font-weight: 700;
        // margin: 50px 0 0 0;
    //   }
    }

    .agentContactDetails {
      width: 50%;
      // border: 2px solid green;
    }
  }
}
