* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerContainer {
  height: 280px;

  .topFooterSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d9d9d9;
    height: 25%;
    .BackToPreviousPageButton {
      background-color: #E73436;
      color: white;
      font-weight: 800;
      font-size: 16px;
      width: 6%;
      height: 70%;
      border-radius: 32px;
      border: none;
      cursor: pointer;
      margin: 0 20px 0 0;
    }
  }

  .middleFooterContainer {
    height: 60%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    .footerTitleContainer {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
      padding-right: 44px;
    }

    .quickLinksAndIconsContainer {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-between;

      .quickLinks {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr) 2fr;
        row-gap: 0px;
        column-gap: 10px;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          margin-left: 0px;
          margin-right: 0px;

          span {
            &:hover {
              color: #e73236;
            }
          }

          &:nth-child(5) {
            display: flex;
            justify-content: center;
            align-items: flex-start;
          }
        }
      }

      .icons {
        align-self: flex-start;

        img {
          margin-left: 8px;
        }
      }
    }
  }

  .bottomFooterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    padding-left: 40px;
    background-color: #d9d9d9;
  }

  p {
    font-weight: bold;
    font-size: 14px;
  }
}
