* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
  
    .navLinkContainer {
      display: flex;
  
      a {
        text-decoration: none;
        color: #555555;
        font-weight: bold;
        margin-right: 40px;
      }

      img {
        margin-right: 20px;
      }
    }
  }
  